<form method="post" action="{{ path('app_tags_delete', {'id': tag.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
    <button class="btn btn-outline-primary">Supprimer</button>
</form>
