{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}
    <style>
        .content-container {
            max-width: 60%;
            margin-left: 20%;
            margin-top: 3%;
            padding: 20px;
            border: 2px solid grey;
            background-color: #fff;
            border-radius: 10px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .button-container {
            margin-top: 10px;
            width: 100%;
            justify-content: center;
            display: flex;
            gap: 10px;
        }

        .btn {
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #207baf;
        }
    </style>

    {{ include('affichage/_header.html.twig') }}

    {{ include('tags/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="button-container">
            <a href="{{ path('app_tags_index') }}" class="btn btn-outline-primary">Retour à la liste</a>
        </div>

    </div>
{% endblock %}
