{% extends 'base.html.twig' %}

{% block title %}Tags index{% endblock %}

{% block body %}
    <style>
        body { 
            margin: 0; 
            background-color: #DCDCDC;
        }
        .table {
            max-width: 80%;
            margin-left: 10%;
            margin-top: 3%;
            border: 2px solid grey;
        }
        header {
            background-color: #C0C0C0;
            color: #333;
            padding: 1rem;
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 15px;
            border: 1px solid #ddd;
            background-color: #3498db;
            color: #fff;
        }
        a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            display: inline-block;
            border-radius: 5px;
            background-color: #3498db;
            padding: 10px 15px;
            transition: background-color 0.3s;
        }
        a:hover {
            background-color: #207baf;
        }
        .div__btnAjouter{
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .create-new {
            display: flex;
            text-align: center;
            margin-top: 20px;
            width: 100%;
            justify-content: center;
        }

        .create-new a {
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease-in-out;
        }

        .create-new a:hover {
            background-color: #2980b9;
        }
    </style>

    {{ include('affichage/_header.html.twig') }}

    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.nom }}</td>
                <td>
                    <a href="{{ path('app_tags_show', {'id': tag.id}) }}" class="btn btn-outline-primary">Voir</a>
                    <a href="{{ path('app_tags_edit', {'id': tag.id}) }}" class="btn btn-outline-success">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="create-new">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_admin') }}" class="btn-accueil btn btn-outline-secondary" style="margin-right: 10px">Retour Admin</a>
        {% endif %}
        <a href="{{ path('app_tags_new') }}" class="btn-accueil btn btn-outline-secondary">Ajouter un tag</a>
    </div>
{% endblock %}
