{% extends 'base.html.twig' %}

{% block title %}New Tags{% endblock %}

{% block body %}
    <style>
        body { 
            margin: 0; 
            background-color: #DCDCDC;
        }
        .form {
            max-width: 40%;
            margin-left: 30%;
            margin-top: 3%;
            padding: 20px;
            border: 2px solid grey;
            background-color: #fff;
            border-radius: 10px;
        }
        header {
            background-color: #C0C0C0;
            color: #333;
            padding: 1rem;
            text-align: center;
        }
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        label {
            font-weight: bold;
            margin-bottom: 5px;
            color: #555555;
        }
        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #cccccc;
            border-radius: 5px;
        }
        button {
            background-color: #4caf50;
            color: #ffffff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
        a {
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
            margin-top: 10px;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>

    {{ include('affichage/_header.html.twig') }}
    
    <div class="form">
        {{ include('tags/_form.html.twig') }}
        <a href="{{ path('app_tags_index') }}" class="btn btn-outline-primary">Retour à la liste</a>
    </div>
{% endblock %}
