{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}
    <style>
        .content-container {
            max-width: 60%;
            margin-left: 20%;
            margin-top: 3%;
            padding: 20px;
            border: 2px solid grey;
            background-color: #fff;
            border-radius: 10px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .button-container {
            display: flex;
            gap: 10px;
        }

        .btn {
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #207baf;
        }
    </style>

    {{ include('affichage/_header.html.twig') }}

    <div class="content-container">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ tag.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ tag.nom }}</td>
                </tr>
            </tbody>
        </table>

        <div class="button-container">
            <a href="{{ path('app_tags_index') }}" class="btn btn-outline-primary">Retour à la liste</a>
            <a href="{{ path('app_tags_edit', {'id': tag.id}) }}" class="btn btn-outline-primary">Modifier</a>
            {{ include('tags/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
