{% block body %}
    <style>
        a {
            text-decoration: underline;
            color: white;
        }

        .article {
            width: 60%;
            margin-left: 20%;
            margin-top: 2%;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
        }

        .article:hover {
            transform: scale(1.02);
        }

        .article__entête {
            background-color: #3498db;
            color: #fff;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }

        .article__entêteTitre {
            width: 60%;
            font-size: 18px;
        }

        .article__entêteAuteur,
        .article__entêteTags {
            display: flex;
            align-items: center;
            font-size: 14px;
            height: 40px;   
        }

        .article__entêteTags p {
            margin-right: 10px;
        }

        .article__description {
            padding: 20px;
            color: #333;
            font-size: 16px;
        }

        p{
            margin: 0;
        }
    </style>

    <div class="article">
        <div class="article__entête">
            <div class="article__entêteTitre">
                {{ article.titre }}
            </div>
            <div class="article__entêteAuteur">
                <p>Auteur: <a href="{{ path('app_unAuteur', {nom: article.getAuteur().getNom()}) }}">{{ article.getAuteur().getNom() }}</a></p>
            </div>
            <div class="article__entêteTags">
                {% for tag in article.getTags() %}
                    <p class="tag">{{ tag.nom }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="article__description">
            {{ article.description }}
        </div>
    </div>
{% endblock %}
