{% block body %}
    <style>
        body { 
            margin: 0; 
            background-color: #f5f5f5;
            font-family: 'Arial', sans-serif;
        }

        .formAddAuteur {
            width: 60%;
            margin-left: 20%;
            margin-top: 2%;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .formAddAuteur label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #333;
        }

        .formAddAuteur input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .formAddAuteur button {
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .formAddAuteur button:hover {
            background-color: #2980b9;
        }
    </style>

    {{ include('affichage/_header.html.twig') }}
    <div class="formAddAuteur">
        {{ form_start(form) }}
        <div>
            {{ form_label(form.nom) }}
        </div>
        <div>
            {{ form_widget(form.nom, {'attr': {'placeholder': 'Nom de l\'auteur'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
