{% extends 'base.html.twig' %}

{% block title %}Blogozaurus{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .blog__header {
            max-width: 100%;
            width: 100%;
            background-color: #3498db;
            height: 75px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .blog__title {
            font-size: 24px;
            margin: 0;
            color: #fff;
        }

        hr {
            margin: 0;
            height: 1px;
            background-color: #3498db;
        }

        .btn-accueil,
        .btn-listeAuteur {
            height: 40px;
            font-size: 16px;
            text-transform: uppercase;
            padding: 0 15px;
            border: none;
            display: flex;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
            background-color: #fff;
            color: #3498db;
        }

        .btn-accueil:hover,
        .btn-listeAuteur:hover {
            opacity: 0.8;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="blog__header">
        <div style="display: flex;">
        <a style="margin-right: 10px;" href="{{ path('app_index') }}" class="btn-accueil btn btn-outline-secondary">Accueil</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_admin') }}" class="btn-accueil btn btn-outline-secondary">Admin</a>
        {% endif %}
        </div>
        <h1 class="blog__title">Blogozaurus</h1>
        <div style="display: flex;">
            <a style="margin-right: 10px;" href="{{ path('app_logout') }}" class="btn-listeAuteur btn btn-outline-secondary">Déconnexion</a>
            <a href="{{ path('app_auteurs') }}" class="btn-listeAuteur btn btn-outline-secondary">Liste des auteurs</a>
        </div>
    </div>
    <hr>
{% endblock %}
