{% extends 'base.html.twig' %}

{% block title %}Blogozaurus{% endblock %}

{% block body %}
    <style>
        body { 
            margin: 0; 
            background-color: #DCDCDC;
        }
        .table {
            max-width: 80%;
            margin-left: 10%;
            margin-top: 3%;
            border: 2px solid grey;
        }
        header {
            background-color: #C0C0C0;
            color: #333;
            padding: 1rem;
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 15px;
            text-align: center;
            border: 1px solid #ddd;
            background-color: #3498db;
            color: #fff;
        }
        a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            display: inline-block;
            border-radius: 5px;
            background-color: #3498db;
            padding: 10px 15px;
            transition: background-color 0.3s;
        }
        a:hover {
            background-color: #207baf;
        }
        p {
            font-size: 14px;
            margin-top: 5px;
            color: #333;
        }
    </style>

    {{ include('affichage/_header.html.twig') }}

    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Action</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{{ path('app_article_index') }}" class="btn btn-outline-primary">Voir les articles</a></td>
                <td>Voir tous les articles afin de les modifier ou supprimer.</td>
            </tr>
            <tr>
                <td><a href="{{ path('app_tags_index') }}" class="btn btn-outline-primary">Voir les tags</a></td>
                <td>Voir toutes les catégories afin de les modifier ou supprimer.</td>
            </tr>
            <tr>
                <td><a href="{{ path('app_user_index') }}" class="btn btn-outline-primary">Voir les utilisateurs</a></td>
                <td>Voir tous les tags afin de les modifier ou supprimer.</td>
            </tr>
        </tbody>
    </table>
{% endblock %} 
