{% extends 'base.html.twig' %}

{% block title %}Blogozaurus{% endblock %}

{% block body %}
    <style>
        body { 
            margin: 0; 
            background-color: #DCDCDC
        }
        .blog__header { 
            max-width: 100%; 
            width: 100%; 
            background-color: #C0C0C0; 
            height: 75px 
        }
        .blog__title {
            max-width: 100%;
            width: 100%;
            font: 30px sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            height: 75px;
        }
        .table{
            width: 80%;
            margin-left: 10%;
            margin-top: 3%;
            border: 2px solid grey
        }
        hr {
            margin:0;
            height: 1px;
            background-color: black;
        }
        header {
            background-color: #C0C0C0;
            color: #333;
            padding: 1rem;
            text-align: center;
        }
        a {
            text-decoration: none;
            color: #1E90FF;
            font-weight: bold;
        }
        a:hover {
            color: #004080;
        }
        .btn-accueil {
            height: 40px;
            margin-left: 20px;
            top: 20px;
            position: absolute;
        }
        .btn-listeAuteur {
            height: 40px;
            right: 20px;
            top: 20px;
            position: absolute;
        }
        .sous-header{
            display:flex;
            justify-content: center;
            width: 100%;
            margin-top: 40px;
        }
    </style>
    <div class="blog__header">
        <a href="{{ path('app_index')}}"><button type="button" class="btn-accueil btn btn-outline-secondary">Accueil</button></a>
        <h1 class="blog__title">Liste des catégories</h1>
        <a href="{{ path('app_auteurs')}}"><button type="button" class="btn-listeAuteur btn btn-outline-secondary">Liste des auteurs</button></a>
    </div>
    <hr>
    <div class="sous-header">
        <a href="{{ path('app_addAuteur')}}"><button type="button" class="btn btn-outline-secondary">Ajouter une catégorie</button></a>
    </div>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Articles</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for auteur in auteurs %}
                <tr>
                    <td>{{ auteur.id }}</td>
                    <td>{{ auteur.nom }}</td>
                    <td><a href="{{ path('app_unAuteur', {nom: auteur.nom}) }}">Liste</a></td>
                    <td><a href="{{ path('app_editAuteur', {id: auteur.id}) }}">-- - <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 128 128"><path d="M 79.335938 15.667969 C 78.064453 15.622266 76.775 15.762109 75.5 16.099609 C 72.1 16.999609 69.299609 19.199219 67.599609 22.199219 L 64 28.699219 C 63.2 30.099219 63.699609 32.000781 65.099609 32.800781 L 82.400391 42.800781 C 82.900391 43.100781 83.400391 43.199219 83.900391 43.199219 C 84.200391 43.199219 84.399219 43.199609 84.699219 43.099609 C 85.499219 42.899609 86.1 42.399219 86.5 41.699219 L 90.199219 35.199219 C 91.899219 32.199219 92.4 28.700781 91.5 25.300781 C 90.6 21.900781 88.400391 19.100391 85.400391 17.400391 C 83.525391 16.337891 81.455078 15.744141 79.335938 15.667969 z M 60.097656 38.126953 C 59.128906 38.201172 58.199219 38.724609 57.699219 39.599609 L 27.5 92 C 24.1 97.8 22.200781 104.30039 21.800781 110.90039 L 21 123.80078 C 20.9 124.90078 21.5 125.99961 22.5 126.59961 C 23 126.89961 23.5 127 24 127 C 24.6 127 25.199219 126.8 25.699219 126.5 L 36.5 119.40039 C 42 115.70039 46.7 110.8 50 105 L 80.300781 52.599609 C 81.100781 51.199609 80.599219 49.3 79.199219 48.5 C 77.799219 47.7 75.899609 48.199609 75.099609 49.599609 L 44.800781 102 C 41.900781 106.9 37.899609 111.20039 33.099609 114.40039 L 27.300781 118.19922 L 27.699219 111.30078 C 27.999219 105.60078 29.699609 100 32.599609 95 L 62.900391 42.599609 C 63.700391 41.199609 63.200781 39.3 61.800781 38.5 C 61.275781 38.2 60.678906 38.082422 60.097656 38.126953 z M 49 121 C 47.3 121 46 122.3 46 124 C 46 125.7 47.3 127 49 127 L 89 127 C 90.7 127 92 125.7 92 124 C 92 122.3 90.7 121 89 121 L 49 121 z M 104 121 A 3 3 0 0 0 101 124 A 3 3 0 0 0 104 127 A 3 3 0 0 0 107 124 A 3 3 0 0 0 104 121 z"></path></svg> - --</a></td>
                    <td><a href="{{ path('app_removeAuteur', {id: auteur.id}) }}">-- - 🗑️ - --</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
