{% extends 'base.html.twig' %}

{% block title %}Blogozaurus{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            margin: 0;
            background-color: #f0f0f0;
            font-family: 'Roboto', sans-serif;
        }

        .blog__conteneur {
            display: flex;
            justify-content: center;
            margin-bottom: 2%;
        }

        .blog__articles {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="blog">
        {{ include('affichage/_header.html.twig') }}
        <div class="blog__conteneur">
            <div class="blog__articles">
                {% for article in articles %}
                    {{ include('affichage/_affichageArticle.html.twig', {'article': article}) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
