{% extends 'base.html.twig' %}

{% block title %}Blogozaurus{% endblock %}

{% block body %}
    <style>
        body { 
            margin: 0; 
            background-color: #DCDCDC
        }
        .blog__conteneur{
            display: flex;
            justify-content: center;
            margin-bottom: 2%;
        }
        .blog__articles{
            width: 100%;
        }
        
        a {
            text-decoration: underline;
            color: white;
        }

        .article {
            width: 60%;
            margin-left: 20%;
            margin-top: 2%;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
        }

        .article:hover {
            transform: scale(1.02);
        }

        .article__entête {
            background-color: #3498db;
            color: #fff;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }

        .article__entêteTitre {
            width: 60%;
            font-size: 18px;
        }

        .article__entêteAuteur,
        .article__entêteTags {
            display: flex;
            align-items: center;
            font-size: 14px;
            height: 40px;   
        }

        .article__entêteTags p {
            margin-right: 10px;
        }

        .article__description {
            padding: 20px;
            color: #333;
            font-size: 16px;
        }

        p{
            margin: 0;
        }
    </style>

    <div class="blog">
        {{ include('affichage/_header.html.twig') }}
        <div class="blog__conteneur">
            <div class="blog__articles">
                {% for article in auteurs.getListeArticles() %}
                    <div class="article">
                        <div class="article__entête">
                            <div class="article__entêteTitre">
                                {{ article.getTitre() }}
                            </div>
                            <div class="article__entêteAuteur">
                                Auteur : {{ article.getAuteur().getNom() }}
                            </div>
                            <div class="article__entêteTags">
                                {% for tag in article.getTags() %}{{ tag.getNom() }} {% endfor %}
                            </div>
                        </div>
                        <div class="article__description">
                            {{ article.getDescription() }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
