{% block body %}
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f5f5f5; /* Couleur de fond pour le corps de la page */
        }

        .form {
            background-color: #ffffff; /* Couleur de fond pour le formulaire */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
            border-radius: 15px;
            padding: 20px;
            width: 400px;
            max-width: 100%;
            text-align: center;
        }

        .form h1 {
            color: #333333; /* Couleur du texte pour le titre */
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin: 10px 0 5px;
            text-align: left;
            color: #555555; /* Couleur du texte pour les étiquettes */
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #cccccc; /* Couleur de la bordure pour les champs de saisie */
            border-radius: 5px;
        }

        button {
            background-color: #4caf50; /* Couleur de fond pour le bouton de connexion */
            color: #ffffff; /* Couleur du texte pour le bouton de connexion */
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049; /* Couleur de fond au survol du bouton de connexion */
        }

        a {
            text-decoration: none;
            color: #007bff; /* Couleur du texte pour le lien d'inscription */
            margin-left: 10px;
        }

        a:hover {
            text-decoration: underline; /* Souligner le lien au survol */
        }
    </style>

    <div class="form">
        <h1>Register</h1>
        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit">Register</button>
        <a href="{{ path('app_login')}}"><button type="button" class="btn">Login</button></a>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
