{% extends 'base.html.twig' %}

{% block title %}Article Index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            margin: 0;
            background-color: #f5f5f5;
            font-family: 'Arial', sans-serif;
        }

        .table {
            margin-left: 10%;
            max-width: 80%;
            border-collapse: collapse;
            border: 2px solid grey;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #3498db;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        a {
            text-decoration: none;
            color: #3498db;
            margin-right: 10px;
        }

        a:hover {
            text-decoration: underline;
        }

        .no-records {
            text-align: center;
            color: #333;
            font-style: italic;
        }

        .create-new {
            display: flex;
            text-align: center;
            margin-top: 20px;
            width: 100%;
            justify-content: center;
        }

        .create-new a {
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease-in-out;
        }

        .create-new a:hover {
            background-color: #2980b9;
        }
    </style>
{% endblock %}

{% block body %}
    {{ include('affichage/_header.html.twig') }}
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.description }}</td>
                <td>
                    <a style="margin-bottom: 10px;" class="btn-listeAuteur btn btn-outline-secondary" href="{{ path('app_article_show', {'id': article.id}) }}">Afficher</a>
                    <a style="margin-bottom: 10px;" class="btn-listeAuteur btn btn-outline-secondary" href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>
                    {{ include('article/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="no-records">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="create-new">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_admin') }}" class="btn-accueil btn btn-outline-secondary">Retour Admin</a>
        {% endif %}
        <a href="{{ path('app_article_new') }}" class="btn-accueil btn btn-outline-secondary">Ajouter un article</a>
    </div>
{% endblock %}
