{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            margin: 0;
            background-color: #f5f5f5;
            font-family: 'Arial', sans-serif;
        }

        table {
            max-width: 60%;
            margin-left: 20%;
            margin-top: 20px;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #3498db;
            color: #fff;
        }

        a {
            display: inline-block;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease-in-out;
        }

        a.back-link {
            background-color: #3498db;
            color: #fff;
        }

        a.back-link:hover {
            background-color: #2980b9;
        }

        a.edit-link {
            margin-left: 10px;
            background-color: #2ecc71;
            color: #fff;
        }

        a.edit-link:hover {
            background-color: #27ae60;
        }

        .div__button {
            display: flex;
            justify-content: space-around;
            width: 30%;
            margin-left: 35%;
        }
    </style>
{% endblock %}

{% block body %}
    {{ include('affichage/_header.html.twig') }}    

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
        </tbody>
    </table>
    <div class="div__button">
        <a href="{{ path('app_article_index') }}" class="btn btn-outline-primary">Retour à la liste</a>
        <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-outline-primary">Modifier</a>
        {{ include('article/_delete_form.html.twig') }}    
    </div>
{% endblock %}
