{# templates/user/editUser.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier vos informations</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Modifier</button>
    {{ form_end(form) }}
{% endblock %}
