{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body { 
            margin: 0; 
            background-color: #DCDCDC;
        }
        .table{
            max-width: 80%;
            margin-left: 10%;
            width: 100%;
            margin-top: 3%;
            border: 2px solid grey
        }
        header {
            background-color: #C0C0C0;
            color: #333;
            padding: 1rem;
            text-align: center;
        }
        a {
            text-decoration: none;
            color: #1E90FF;
            font-weight: bold;
        }
        a:hover {
            color: #004080;
        }
        .sous-header{
            display:flex;
            justify-content: center;
            width: 100%;
            margin-top: 40px;
        }
    </style>
{% endblock %}

{% block body %}
    {{ include('affichage/_header.html.twig') }}
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>********</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a style="margin-bottom: 10px;" class="btn-listeAuteur btn btn-outline-secondary" href="{{ path('app_user_show', {'id': user.id}) }}">Afficher</a>
                        <a style="margin-bottom: 10px;" class="btn-listeAuteur btn btn-outline-secondary" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                        {{ include('user/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
