{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            margin: 0;
            background-color: #f5f5f5;
            font-family: 'Arial', sans-serif;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-top: 20px;
        }

        .table {
            max-width: 60%;
            margin-left: 20%;
            margin-top: 20px;
            border: 2px solid grey;
            background-color: #fff;
            border-radius: 10px;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #C0C0C0;
            color: #333;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 15px;
            background-color: #3498db;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease-in-out;
        }

        a:hover {
            background-color: #2980b9;
        }

        .delete-form {
            display: inline-block;
            margin-top: 20px;
            margin-left: 20px;
        }

        .delete-form button {
            background-color: #e74c3c;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .delete-form button:hover {
            background-color: #c0392b;
        }

        .div__buttons{
            display: flex;
            width: 100%;
            justify-content: center;
        }
        
        .btn {
            margin-top: 0;
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    {{ include('affichage/_header.html.twig') }}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
    <div class="div__buttons">
        <a href="{{ path('app_user_index') }}" class="btn btn-outline-primary">Retour à la liste</a>
        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-outline-primary">Éditer</a>
        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
